*{
    text-transform: capitalize;
}
header{
    
   width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-image: url(image/all\ colr.jpg);
    text-decoration: none;
   
}
.h h1{
    padding: 20px;
    text-transform: capitalize;
    

}
sup{
    color: red;

}
.nav ul li{
    padding:20px;
    display: inline-block;
    text-transform: capitalize;
    font-size: large;

}
.outline{
    padding-right: 40px;
    transition: 0.7s;
}
.outline:hover .search{
   
    display: block;
    transition: 0.7s;
}
.search{
    padding-right: 40px;
    display: none;
}

.cen{
    background-image:url(image/ww2new.PNG);
    width: 100%;
    height: 100vh;
    
}
.con{
    padding-top: 19%;
    padding-left: 12%;
    
}
 .con button{
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.5s;
 }
 .con button:hover{
    border-radius: 20px;
    background-color: red;
    color: white;
    transition: 0.5s;
    
 }
 .con h1{
    color: rgb(244, 25, 252);
 }
 .con p{
    color: white;
 }
 
 .colimg{
    width: 32%;
    padding: 5px;
    float: left;
    cursor: pointer;
 }
 
 .colimg2{
    width: 32%;
    padding: 5px;
    float: left;
    cursor: pointer;
 }
 
 .testimg{
    width: 45%;
    padding: 15px;
    float: left;
    cursor: pointer;
    padding: 20px;
 }


 